<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/frontend/routes.xsd">
    <router id="standard">
        <route id="welight" frontName="welight">
            <module name="WE_welight" />
        </route>
    </router>
</config>
